.wrapper {
  height: 80%;
  padding-bottom: 1em;
}

.page-content {
  height: 100vh;
}

.text {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.site-footer {
  width: 100%;
}

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loading.hidden {
  display: none;
}

.loading {
  animation: move 2s infinite;
  position: relative;
  font-size: 50px;
}

@keyframes move {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
  }
}
