<footer class="site-footer">

  <div class="wrapper">

    <div class="row">
      <div class="col-md-6">
      <ul class="social-media-list">
        <li>
          {% include icon-github.html username="kyletaylored" %}
        </li>
        <li>
          {% include icon-twitter.html username="kyletaylored" %}
        </li>
      </ul>
      </div>
      <div class="col-md-6">
      <ul class="social-media-list">
        <li>
          {% include icon-github.html username="mattbtay" %}
        </li>
        <li>
          {% include icon-twitter.html username="mattbtay" %}
        </li>
      </ul>
      </div>
    </div>

  </div>

  </div>

  </div>

</footer>